@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

::selection {
    color: white;
    background: crimson;
}

body {
    font-family: 'Lato', serif, calibri, arial;
    text-align: center;
    color: #fff;
    margin: 0;
    padding: 0;
    background-image: url(../photo/pareve-christmas-1598x900.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

#name {
    width: 100%;
}

#mail {
    width: 100%;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 4.5fr 0.5fr;
    grid-auto-rows: minmax(50px, auto);
    max-width: 960px;
    margin: 0 auto;
    grid-gap: 5px;
    grid-template-areas: "nav nav nav" "header header header" "section section section" "aside aside aside" "footer footer footer";
}

@media screen and (min-width:963px) {
    .wrapper {
        display: grid;
        grid-template-columns: 1fr 4.5fr 0.5fr;
        grid-auto-rows: minmax(50px, auto);
        max-width: 960px;
        margin: 0 auto;
        grid-gap: 5px;
        grid-template-areas: "header section aside" "nav section ." ". section ." ". footer .";
    }
}

.wrapper>* {
    background: none;
    padding: 20px;
}

header {
    grid-area: header;
}

nav {
    grid-area: nav;
}

main {
    grid-area: main;
}

section {
    grid-area: section;
}

aside {
    grid-area: aside;
}

footer {
    grid-area: footer;
}

.groupItem {
    width: 100%;
}

.wishlistbox h2 {
    font-family: 'Great Vibes', cursive;
    font-size: 60px;
    padding: 0px;
    text-shadow: -2px 0 #212716, 0 2px #212716, 2px 0 #212716, 0 -2px #212716;
    color: #EBCBAD;
}

.wishlistbox h1 {
    font-family: 'Charm', cursive;
    font-size: 100px;
    padding: 0px;
    text-shadow: -2px 0 #212716, 0 2px #212716, 2px 0 #212716, 0 -2px #212716;
    color: #EBCBAD;
    margin-top: -60px;
}

.one {
    margin-top: 50px;
}

.two {
    margin-top: -90px;
    margin-bottom: 90px;
}

.bttn {
    color: #fff;
    background: #212716;
    padding: 10px;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 10px;
}

.bttn:hover {
    color: #212716;
    background: #fff;
    border: 1px solid #212716;
}

.plus {
    margin: 30px;
    background: fixed;
}

.bttnwish {
    color: #fff;
    background: crimson;
    padding: 10px;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 10px;
}

.bttnwish:hover {
    color: crimson;
    background: #fff;
    border: 1px solid crimson;
}

.fullwidthbtn {
    width: 200px;
    text-align: center;
}


/*input*/

.container {
    font-family: 'Roboto';
    width: 300px;
    height: auto;
    margin: 50px auto 200px;
    display: block;
    background: #FFF;
    padding: 30px 50px 50px;
    box-shadow: 12px 15px 17px black;
}

h2 {
    text-align: center;
    margin-bottom: 50px;
}

h2 small {
    font-weight: normal;
    color: #888;
    display: block;
}

.footer {
    text-align: center;
}

.footer a {
    color: #53B2C8;
}


/* form starting stylings ------------------------------- */

.group {
    position: relative;
    margin-bottom: 45px;
}

input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 250px;
    float: left;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #757575;
}

input:focus {
    outline: none;
}

button:focus {
    outline: none;
}

#min {
    float: left;
    height: 60xp;
    margin-left: 10px;
    font-size: 20px;
}


/* LABEL ======================================= */

label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}


/* active state */

input:focus~label,
input:valid~label {
    top: -20px;
    font-size: 14px;
    color: black;
}


/* BOTTOM BARS ================================= */


/* active state */

input:focus~.bar:before,
input:focus~.bar:after {
    width: 50%;
}


/* active state */

input:focus~.highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}


/* ANIMATIONS ================ */

@-webkit-keyframes inputHighlighter {
    from {
        background: black;
    }
    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: black;
    }
    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: black;
    }
    to {
        width: 0;
        background: transparent;
    }
}